.datatables-content {
	opacity: 1;
	margin-top: 24px;
	background: white;
	border-radius: 8px;
	padding: 70px 20px;
	margin-bottom: 50px;
	@include boxshadow_default;
	@include transition;

	thead {
		tr {
			vertical-align: bottom;

			th {
				border-bottom: 1px solid #dedede;
				font-size: 14px;
			}
		}
	}

	tbody {
		tr {
			border-top: 1px solid #dedede;
			border-bottom: 1px solid #dedede;
			background: none;

			&.odd {
				background: none;
			}

			&.even {
				background: none;
			}

			td {
				border-radius: 0;
				border-bottom: 1px solid #dedede;
				border-top: none;
				border-left: none;
				border-right: none;
				border-collapse: collapse;

				&:first-child {
				}

				&:last-child {
				}
			}
		}
	}

}

.datatables-content,
.dataTables_wrapper {
	@include animation(showTable, 0.5s);
	@include transition;
}