<!DOCTYPE html>
  <html lang="pt-br">
    <head>
      <title>Pesquisa de produtos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div class="jumbotron text-center" style="background: #454d55;">
        <h1 style="color: #FFFFFF;">O Guru do Leite</h1>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <input type="text" 
                   [(ngModel)]="this.search"
                   class="form-control" 
                   (keyup)="filterListOfProducts()" 
                   #field="ngModel"
                   required
                   id="search" 
                   placeholder="Pesquisar..."
                   name="search">
          </div>
          <div *ngIf="this.loading" class="col-sm-12" style="padding-top: 32px;display: flex;align-items: center;justify-content: center;">
            <div class="spinner-border"></div>
          </div>
          <div *ngIf="!this.loading && this.products.length > 0" class="col-sm-12" style="padding-top: 32px;">
            <table class="table table-dark table-striped">
              <thead>
                <tr>
                  <th data-toggle="tooltip" title="Código de Barra">EAN</th>
                  <th data-toggle="tooltip" title="Nome do Produto">N. Produto</th>
                  <th data-toggle="tooltip" title="Probabilidade">Prob.</th>
                </tr>
              </thead>
              <tbody *ngFor="let product of products">
                <tr>
                  <td>{{ product.barCode }}</td>
                  <td>{{ product.productName }}</td>
                  <td>{{ product.probability ? product.probability + '%' : '-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div *ngIf="!this.loading && this.products.length === 0" class="col-sm-12" style="padding-top: 32px;display: flex;align-items: center;justify-content: center;">
            <h3>Nenhum resultado foi encontrado...</h3>
          </div>
        </div>
      </div>
    </body>
  </html>
    
    <!--
      <div class="col-sm-12" style="padding-top: 32px;">
          <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Successo!</strong> Produtos retornados com sucesso...
          </div>
          <div class="alert alert-warning alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Warning!</strong> This alert box could indicate a warning that might need attention.
          </div>
          <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Danger!</strong> This alert box could indicate a dangerous or potentially negative action.
          </div>
      </div>

    -->